@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/sections" as *;
@use "../../styles/typography" as *;

.Thumbnail-gallery-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.Thumbnail-gallery-header {
    text-align: center;
    margin-top: 1.5rem;
    color: #dcdcdc;
}

.Thumbnail-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 100%;
}

.Thumbnail {
    height: 200px;
    width: 300px;
    border-radius: 25px;
    border: 5px solid #dcdcdc;
    cursor: pointer;
}

.-selected {
    height: 200px;
    width: 300px;
    border-radius: 25px;
    border: 5px solid orange;
}

.Thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px white;
    transition-duration: 0.25s;
}

.Thumbnail-selected:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 5px 2px white;
    transition-duration: 0.25s;
}

