@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/sections" as *;
@use "../../styles/typography" as *;

.image {
  border-radius: 1rem;
  border: 8px solid $color-primary;
  position: relative;

  height: 16rem;
  max-width: 24rem;

  @include devices(tablet) {
    height: 25rem;
    max-width: 40rem;
  }

  @include devices(desktop) {
    height: 25rem;
    max-width: 40rem;
  }
}