@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.project-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    margin: 12px;
    background-color: $color-primary;
    border-radius: 25px;  
    width: 60vw;
}

.project-image {
    height: 300px;
    width: auto;
    border-radius: 25px;
    border: 5px solid #dcdcdc;
}

.project-text {
    margin-left: 36px;
    padding: 10px;
    width: 30vw;
    color: #dcdcdc;
    line-height: 24px;
    font-size: 1.25rem;
}

h1 {
    margin-bottom: 72px;
}