@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.Project-gallery {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: $color-primary;
    position: relative;
  }

  &__image {
    height: 18rem;
    width: 100%;
  }

  &__text {
    padding: 1rem;
    margin-bottom: 4rem;
    color: #dcdcdc;
    line-height: 24px;
    font-size: 1rem;

    &__title {
      font-size: 1.5rem;
      margin-top: 1.5rem
    }

    &__description {
      font-size: 1rem;
    }
  }

  .Project-gallery__arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 2rem);
    height: 4rem;
    width:4rem;

    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  .Project-gallery__arrow--active {
    transform: rotate(-90deg);
    transition: 0.5s ease-in-out;
  }
}