@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.Project-gallery-header {
  text-align: left;
  margin-left: 1rem;
}

.Project-gallery {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1rem;

  @include devices(tablet) {
    grid-template-columns: repeat(2,1fr);
  }

  @include devices(desktop) {
    grid-template-columns: repeat(3,1fr); 
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: $color-primary;
    position: relative;
  }

  &__image {
    height: 14rem;
    width: 100%;

    @include devices(tablet) {
      height: 15rem;
    }
  
    @include devices(desktop) {
      height: 18rem;
      object-fit: fill;  
    }
  }

  &__text {
    padding: 1rem;
    margin-bottom: 4rem;
    color: #dcdcdc;
    line-height: 24px;
    font-size: 1rem;

    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;

      @include devices(tablet) {
        font-size: 1.8rem;
      }
    
      @include devices(desktop) {
        font-size: 2rem;
      }
    }

    &__description {
      font-size: 1rem;
    }
  }

  .Project-gallery__arrow {
    position: absolute;
    bottom: 0;
    left: calc(50% - 2rem);
    height: 4rem;
    width:4rem;

    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  .Project-gallery__arrow--active {
    transform: rotate(-90deg);
    transition: 0.5s ease-in-out;
  }
}