@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.homepage-logo-wrapper {
  visibility: hidden;
  opacity: 0;
  transition-timing-function: ease-in;
  transition: visibility 0s 0.5s, opacity 0.5s;

  width: 100%;
  height: 100%;
  margin: auto auto 10rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  &__logo {
    position: fixed;
    top: 15%;
    left: 25%;

    width: 50%;
    height: 60%;
  }

  &__down-arrow {
    position: fixed;
    bottom: 5%;

    height: 5rem;
    width: auto;
  }
}

.Visible {
  visibility: visible;
  opacity: 1;

  transition-timing-function: ease-in;
  transition: opacity 0.5s;
}
