@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Homepage-wrapper {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.Content-section-wrapper {
  position: absolute;
  top: 96rem;
}