@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.Homepage-wrapper {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;

  @include devices(desktop) {
    width: 80%;
  }
}

.Content-section-wrapper {
  position: absolute;
  top: 52rem;
  width: 100%;

  @include devices(tablet) {
    top: 68rem;
  }

  @include devices(desktop) {
    top: 72rem;
  }
}

.Intro-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;

  width: 90%;

  margin: 0 auto 4rem auto;

  @include devices(tablet) {
    flex-direction: row;

    width: 100%;

    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include devices(desktop) {
    
  }
}