@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.Modal__Backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  width: 100%;
  height: 100%;
}

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 85%;
  background-color: $color-primary;

  &__Close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-primary;
    border-radius: 0.125rem;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;

    &__Icon {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: $color-tertiary;
    }
  }
}
