@use "../../styles/_variables.scss" as *;
@use "../../styles/_mixins.scss" as *;

.Modal__Backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  width: 100%;
  height: 100%;
}

.Modal {
  position: fixed;
  left: 0.5rem;
  right: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  width: calc(100vw - 1rem);
  height: 40rem;

  background-color: $color-primary;

  @include devices(tablet) {
    left: 1.5rem;
    right: 1.5rem;

    width: calc(100vw - 3rem);
  }

  @include devices(desktop) {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    max-width: 72rem;
    height: 75%;
  }

  &__Close {
    position: absolute;
    top: 1px;
    right: 3px;
    background: none;
    border-radius: 0.125rem;
    border: none;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;

    cursor: pointer;

    &__Icon {
      width: 100%;
      height: 100%;
    }
  }
}
