.Navbar {
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: right;
    font-size: 1.25rem;
}

.Navbar__Item {
    margin-bottom: 0.25rem;
    transition: transform 0.25s;
}

.Navbar__Item:hover{
    transform: scale(1.1)
}

.Navbar__Link {
    text-decoration: none;
}

.Navbar__Link--active {
    font-weight: bold;
}