@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.Navbar-wrapper {
  visibility: hidden;
  opacity: 0;
  transition-timing-function: ease-in;
  transition: visibility 0s 0.5s, opacity 0.5s;

  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  height: 4rem;

  background-color: rgba(0, 0, 0, 0.197);
}

.Visible {
  visibility: visible;
  opacity: 1;

  transition-timing-function: ease-in;
  transition: opacity 0.5s;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  align-items: center;

  width: 100vw;
  height: 4rem;

  @include devices(tablet) {
    justify-content: space-between;

    width: 50%;

    margin: auto;
  }

  @include devices(desktop) {
    justify-content: space-between;

    width: 25%;

    margin: auto;
  }
}

.Navbar__Item {
  margin-bottom: 0.25rem;
  transition: transform 0.25s;
}

.Navbar__Item:hover {
  transform: scale(1.1)
}

.Navbar__Link {
  text-decoration: none;
  font-size: 1.5rem;
  color: #dcdcdc;

  @include devices(tablet) {
    font-size: 2rem;
  }

  @include devices(desktop) {
    font-size: 2rem;
  }
}

.Navbar__Link--active {
  font-weight: bold;
  color: rgb(225, 127, 7);
}