.Timeline-wrapper {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition-timing-function: ease-in;
  transition: display 0.5s, visibility 0s 0.5s, opacity 0.5s;
  
  width: 75rem;
  margin: auto;
}

.Timeline-visible {
  display: block;
  visibility: visible;
  opacity: 1;

  transition-timing-function: ease-in;
  transition: opacity 0.5s;
}

.Timeline-logo {
  object-fit: contain;
  height: 60px;
  width: 60px;
  border-radius: 19px;
}