.thumbnail-gallery-wrapper {
    width: 100%;
}

.thumbnail-gallery {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    gap: 20px;
    width: 100%;
}

.thumbnail {
    height: 200px;
    width: 300px;
    border-radius: 25px;
    border: 5px solid white;
}.selected{
    border: 5px solid orange;
}
