.Section-dark {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__text {
    width: 75vw;
    margin: auto;
  }
}

.Section-medium {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__text {
    width: 75vw;
    margin: auto;
  }
}

.Section-light {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__text {
    width: 75vw;
    margin: auto;
  }
}

.Section-lightest {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  &__text {
    width: 75vw;
    margin: auto;
  }
}

.Right {
  text-align: right;
}

.Left {
  text-align: left;
}