/* @import "@fontsource/open-sans";
@import "@fontsource/inconsolata"; */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #659DBD;
  /* background: linear-gradient(deepskyblue, skyblue); */
  font-family: "Open Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 1rem 4rem 1rem;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  font-family: "Inconsolata", monospace;
}

a {
  color: black;
}